// Colors
$white: rgb(255, 255, 255);
$grey: rgb(105, 105, 105);
$black: rgb(0, 0, 0);

$light: rgb(209, 209, 209);
$dark: #1a1a1a;

$red: rgb(171, 47, 47);

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
