@import "variables";

* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1400px;
  padding: 2rem;
  width: 100%;
  margin: 0 auto;
}

#canvas {
  background-color: rgb(168, 168, 168);
  width: 100%;
  aspect-ratio: 1;
}

.header {
  position: sticky;
  top: 0px;
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}

.section {
  padding: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;

  .col {
    flex-basis: 0;
    flex-grow: 1;
  }

  .col-sm {
    flex-basis: 100%;
    @media (min-width: 576px) {
      flex-basis: 0;
      flex-grow: 1;
    }
  }

  .col-md {
    flex-basis: 100%;
    @media (min-width: 768px) {
      flex-basis: 0;
      flex-grow: 1;
    }
  }

  .col-lg {
    flex-basis: 100%;
    @media (min-width: 992px) {
      flex-basis: 0;
      flex-grow: 1;
    }
  }

  .col-xl {
    flex-basis: 100%;
    @media (min-width: 1200px) {
      flex-basis: 0;
      flex-grow: 1;
    }
  }

  &.g-1 {
    gap: 1rem;
  }
  &.g-2 {
    gap: 2rem;
  }

  &.g-sm-1 {
    @media (min-width: 576px) {
      gap: 1rem;
    }
  }
  &.g-sm-2 {
    @media (min-width: 576px) {
      gap: 2rem;
    }
  }

  &.g-md-1 {
    @media (min-width: 768px) {
      gap: 1rem;
    }
  }
  &.g-md-2 {
    @media (min-width: 768px) {
      gap: 2rem;
    }
  }
}

.text-center {
  text-align: center;
}

.input-group input {
  margin-bottom: 0.5rem;
}

.input-group {
  input {
    width: 100%;
  }
  label {
    display: block;
  }

  select {
    font-size: 1em;
    width: 100%;
  }
}

.input-checkbox-group {
  display: flex;
  align-items: center;
  column-gap: 0.5em;

  label {
    display: inline;
  }

  input {
    width: 1.1em;
    height: 1.1em;
    flex-shrink: 0;
  }
}

#previewCanvas {
  width: 100%;
  aspect-ratio: 5/4;
  background-color: white;
}

#genomePreview {
  width: 100%;
  min-height: 50px;
  height: 150px;
  max-height: 500px;
  resize: vertical;
  margin-top: 1rem;
}

#sensorList,
#actionList {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5em;
  font-size: 0.85rem;

  div {
    flex-basis: 100%;
    width: 100%;

    @media (min-width: $md) {
      flex-basis: 50%;
    }

    @media (min-width: $xl) {
      flex-basis: 33.333%;
    }
  }
}

.hide {
  display: none;
}

@import "buttons";
@import "tabs";
