:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1600px;
  padding: 2rem;
  width: 100%;
  margin: 0 auto;
}

.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: #646cff;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  &.red {
    background-color: rgb(171, 47, 47);
  }
}

#canvas {
  background-color: rgb(168, 168, 168);
  width: 100%;
  aspect-ratio: 1;
}

.header {
  position: sticky;
  top: 0.5rem;
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}

.section {
  padding: 1rem;
}

.row {
  display: flex;

  .col {
    flex-basis: 0;
    flex-grow: 1;
  }

  &.g-1 {
    gap: 1rem;
  }
  &.g-2 {
    gap: 2rem;
  }
}

.text-center {
  text-align: center;
}

.input-group {
  input {
    width: 100%;
  }
  label {
    display: block;
  }

  &:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}

#previewCanvas {
  width: 100%;
  background-color: white;
}

#genomePreview {
  width: 100%;
  min-height: 50px;
  height: 150px;
  max-height: 500px;
  resize: vertical;
}